/* @group Toolbar */
.toolbar {
    /* Cross-browser support for gradient */
/*  background: #B5C0CE;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5C0CE', endColorstr='#6D83A1');
    background: -webkit-gradient(linear, left top, left bottom, from(#B5C0CE), to(#6D83A1));
    background: -moz-linear-gradient(top, #B5C0CE, #6D83A1);  
   
    -webkit-tap-highlight-color: rgba(0,0,0,0);*/
}

/**
 *
 * Vertical Scrollbar
 *
 */
.myScrollbarV {
	position:absolute;
	z-index:100;
	width:7px;
	bottom:7px;
	top:7px;
	right:1px;
	pointer-events: auto !important; /* important. Otherwise you can not click on the scroll bar*/
	border-image:url(UpDown.png) 4 0;
	-webkit-border-image:url(UpDown.png) 4 0;
	-moz-border-image:url(UpDown.png) 4 0;
	-o-border-image:url(UpDown.png) 4 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#93A1AC), to(#B7C0C7))
}

.myScrollbarV > div {
	width:100%;
}


/**
 *
 * Both Scrollbars
 *
 */
.myScrollbarH > div,
.myScrollbarV > div {
	position:absolute;
	z-index:100;

	/* The following is probably what you want to customize */
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	border-width:3px;
	-webkit-border-image:url(scrollbar.png) 6 6 6 6;
	-moz-border-image:url(scrollbar.png) 6 6 6 6;
	-o-border-image:url(scrollbar.png) 6 6 6 6;
	border-image:url(scrollbar.png) 6 6 6 6;
}

/* @group Toolbar */
.toolbar {
    /* Cross-browser support for gradient */
  background-color: #00aeef;
}

#pagetitle img {
   height: 30px;
   position: relative;
   top: -5px;
}
